<h1><%= @kitteh.name %></h1>

<table>
  <tr>
    <th colspan="2">
      This Is <%= @kitteh.name %>'s Purrfect Page
    </th>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= @kitteh.name %>
  </tr>
  <tr>
    <td>Birthday:</td>
    <td><%= @kitteh.birth_date %>
  </tr>
  <tr>
    <td>Age:</td>
    <td><%= @kitteh.age %>
  </tr>
  <tr>
    <td>Sex:</td>
    <td><%= @kitteh.sex %>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= @kitteh.description %>
  </tr>
</table>

<p><%= link_to "Back to all Kittehz", cats_url %>
